name: Zip Files

on:
  push:
    branches:
    - main

jobs:
  zip-files:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        
      # create intranda package
      - name: zip intranda
        uses: papeloto/action-zip@v1
        with:
          files: .obsidian/
          dest: obsidian-intranda.zip
          
      # create SDE package
      - name: Use corporate design from SDE 
        run: mv .obsidian/plugins/obsidian-better-export-pdf/data-sde.json .obsidian/plugins/obsidian-better-export-pdf/data.json
      - name: zip SDE
        uses: papeloto/action-zip@v1
        with:
          files: .obsidian/
          dest: obsidian-sde.zip

      # clean-up unneeded corporate design files
      - name: Clean-up other corporate designs
        run: rm .obsidian/plugins/obsidian-better-export-pdf/data-*.json      
      
      # create tag and release
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d %H:%M:%S %Z')" >> $GITHUB_OUTPUT
      - name: Create tag name from date
        id: tagdate
        run: echo "tagdate=$(date +'%Y-%m-%d_%H-%M-%S_%Z')" >> $GITHUB_OUTPUT
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tagdate.outputs.tagdate }}
          release_name: ${{ steps.date.outputs.date }}
          draft: false
          prerelease: false

      # upload for intranda    
      - name: Upload intranda
        id: upload-intranda
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: obsidian-intranda.zip
          asset_name: obsidian-intranda.zip
          asset_content_type: application/zip
      
      # upload for SDE    
      - name: Upload SDE
        id: upload-SDE
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: obsidian-sde.zip
          asset_name: obsidian-sde.zip
          asset_content_type: application/zip
      
